{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Entry
{% endblock %}

{% block body %}
    
    <form method="POST">
        <!-- <label for="title">Title</label><br>
        <input type="text" name="title"><br>
        {% csrf_token %}
        <label for="md">Markdown Content</label><br>
        <textarea style="height:300px;width:400px;" name="md"></textarea><br> -->
        {% csrf_token %}<br>
        <h3>Title</h3>
        <em><h5>{{ title }}</h5></em><br>
        <h3>{{ form.md.label }}</h3>
        {{ form.md }}<br>
        <input type="submit" value="Save" class="btn btn-sm btn-primary">
    </form>
    

{% endblock %}